body {
  background-color: #134b21;
}
.container-block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.enst {
  background-color: #1d0f0fa6;
  color: aliceblue;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bowl img,
.bamboo img,
.wind img,
.snow img,
.fire img,
.rain img {
  width: 100px;
  height: 100px;
}
.enst:hover {
  box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.45);
  transition: 0.3s;
}
.enst:active {
  background-color: #020202a6;
}
.playingSection {
  width: 50px;
  position: fixed;
}
.playingElement {
  padding: 5px;
}
footer {
  width: 100vw;
}
